.container {
  display: flex;
  justify-content: space-between;
  background-color: hsl(227, 47%, 96%);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: box-shadow 250ms ease-in-out;
}

.container:hover {
  box-shadow: rgba(77, 77, 223, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.container > * > *:first-child {
  margin-bottom: 30px;
}
.container > *:not(:first-child) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container > *:not(:first-child) > *:first-child {
  margin-bottom: 40px;
}

.stats {
  font-size: 30px;
}

.evolution {
  font-weight: 700;
}

.heading {
  font-size: 14px;
}
