.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.25rem 5rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border-top-style: solid;
  border-top-width: 3px;
  transition: box-shadow 250ms ease-in-out;
}
.card:hover {
  box-shadow: rgba(77, 77, 223, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.username {
  display: flex;
  align-items: center;
}
.name {
  margin-left: 5px;
}
.stat {
  padding-top: 20px;
  font-size: 50px;
}

.followers {
  text-transform: uppercase;
}

.days {
  display: flex;
  align-items: center;
  font-weight: 700;
  padding-top: 10px;
}

.socialMediaIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
